@import 'bower_components/paint/paint';
@import 'addons/ember-calendar/main';
body {
  overflow: auto !important;
  background-color: #FBFBFB;
}

.table thead tr {
  background-color: initial !important;

  th {
    color: #333;
    font-size: 100% !important;
    font-weight: bold;
  }
}

.form-control.ember-view.ember-text-field {
  border-radius: 4px;
  margin-bottom: 0;
}

.form-control.changePageSize {
  -webkit-appearance: menulist !important;
}

.form-group {
  label {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
}

.pull-right.columns-dropdown {
  margin-bottom: 20px;
}

.main.container {
  margin-top: 5em;
}

.header li a {
  color: #808080;
}

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }
    .mobile-visible{
        display: inline-block !important;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
        display: none !important;
    }
    .tablet-visible{
        display: inline-block !important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-hide{
        display: none !important;
    }
    .small-visible{
        display: inline-block !important;
    }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .large-hide{
        display: none !important;
    }
    .large-visible{
        display: inline-block !important;
    }
}