{{! Used by ember-models-table }}
<div class="{{classes.columnsDropdownWrapper}}">
  <div class="{{classes.columnsDropdownButtonWrapper}}">
    {{#bs-dropdown}}
      {{#bs-dropdown-button}}Dropdown <span class="caret"></span>{{/bs-dropdown-button}}
      {{#bs-dropdown-menu}}
        <li><a {{action "showAllColumns" column bubbles=false}} href="#">{{messages.columns-showAll}}</a></li>
        <li><a {{action "hideAllColumns" column bubbles=false}} href="#">{{messages.columns-hideAll}}</a></li>
        <li><a {{action "restoreDefaultVisibility" column bubbles=false}} href="#">{{messages.columns-restoreDefaults}}</a></li>
        <li class="divider"></li>
        {{#each processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <li>
              <a {{action "toggleHidden" column bubbles=false}} href="#">
                  <span class="{{if column.isVisible icons.column-visible icons.column-hidden}}"></span> {{column.title}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      {{/bs-dropdown-menu}}
    {{/bs-dropdown}}
  </div>
</div>


