<div class="ui borderless main menu">
  <a href="#" class="header item mobile-visible small-hide large-hide">
    <i class="sidebar orange icon"></i>
  </a>
  <a href="#" class="header item">
    <img class="logo" src="assets/images/logo.png">
    Cidesa-fe
  </a>
</div>

<div class="ui vertical fixed sticky gray text menu mobile-hide tablet-hide">
  <div class="header item"></div>
  <div class="ui hidden divider"></div>
  <a class="active orange item">
    <i class="calendar icon"></i>
    {{#link-to 'index'}}Turnos{{/link-to}}
  </a>
  <a class="orange item">
    <i class="users icon"></i>
    {{#link-to 'pacientes'}}Pacientes{{/link-to}}
  </a>
  <a class="orange item">
    <i class="world icon"></i>
    {{#link-to 'provincia'}}Provincias{{/link-to}}
  </a>
  <a class="orange item">
    <i class="user icon"></i>
    Perfil  <!--TODO-->
  </a>
  <a class="orange item">
    <i class="sign out icon"></i>
    Cerrar sesión  <!--TODO-->
  </a>
</div>

<div class="ui segment text container">
  <!--TODO: all templates have to displayed in this container-->
  {{as-calendar
  title="Turnos"
  occurrences=occurrences
  defaultTimeZoneQuery="Argentina"
  dayStartingTime="8:00"
  dayEndingTime="21:00"
  timeSlotDuration="00:30"
  timeSlotHeight="40"
  onAddOccurrence="calendarNewOccurrence"
  onUpdateOccurrence="calendarUpdateOccurrence"
  onRemoveOccurrence="calendarRemoveOccurrence"}}

  {{!#bs-modal open=openModal body=false footer=false title="Nuevo Turno"}}
  {{#ui-modal name="paciente" class="paciente" approve=(action 'approveModal') deny=(action 'denyModal')}}
  {{!#bs-modal-body}}
  {{!#bs-form action=(action "calendarAddOccurrence")}}
    <div class="header">Nuevo Turno</div>
      <div class="form-horizontal content">
        <div class="form-group">
          <label for="paciente" class="col-sm-2 control-label">Paciente</label>
          <div class="col-sm-4">
          {{#ui-dropdown class="search selection" onChange=(action 'updateSelectedPatient')}}
            <div class="default text">Elija un paciente </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each pacientes as |paciente|}}
                <div class="item" data-id="{{paciente}}">
                  {{paciente}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
      <div class="form-group">
        <label for="hora" class="col-sm-2 control-label">Duracion</label>
        <div class="col-sm-4">
          {{#ui-dropdown class="selection" onChange=(action 'updateSelectedHour')}}
            <div class="default text">Duracion de consulta </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each duracionConsulta as |duracion|}}
                <div class="item" data-id="{{duracion}}">
                  {{duracion}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Nope
      </div>
      <div class="ui positive right labeled icon button">
        Yep, that's me
        <i class="checkmark icon"></i>
      </div>
    </div>
  {{!/bs-form}}
  {{!/bs-modal-body}}
  {{!bs-modal-footer closeTitle="Cancelar" submitTitle="Guardar"}}
  {{!/bs-modal}}
  {{/ui-modal}}    
</div>
