<div class="ui fixed inverted menu">
  <div class="ui container">
    <a class="item">
      {{#link-to 'index'}}Turnos{{/link-to}}
    </a>
    <a class="active item">
      {{#link-to 'pacientes'}}Pacientes{{/link-to}}
    </a>
  </div>
</div>

<div class="ui main container">
{{models-table
  data=content
  columns=columns
  filteringIgnoreCase=true
  customMessages=customMessages
  showColumnsDropdown=true
  columnsDropdownTemplate="custom/columns-dropdown"
}}
</div>
