<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item">
      {{#link-to 'index'}}Turnos{{/link-to}}
    </a>
    <a class="active item">
      {{#link-to 'pacientes'}}Pacientes{{/link-to}}
    </a>
  </div>
</div>

<div class="container">
  <h1>Nuevo Paciente</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="dni" class="col-sm-2 control-label">DNI</label>
      <div class="col-sm-4 ui input">
        {{input type="text" value=dni class="form-control" placeholder="DNI"}}
      </div>
    </div>
    <div class="form-group">
      <label for="apellido" class="col-sm-2 control-label">Apellido</label>
      <div class="col-sm-4 ui input">
        <input type="text" class="form-control" id="apellido" placeholder="Apellido">
      </div>
    </div>
    <div class="form-group">
      <label for="nombre" class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-4 ui input">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
      </div>
    </div>
    <div class="form-group">
      <label for="obrasocial" class="col-sm-2 control-label">Obra Social</label>
      <div class="col-sm-4">
        {{#ui-dropdown class="search selection fluid" }}
          <div class="default text">Elija una Obra Social</div>
          <i class="dropdown icon"></i>
          <div class="menu">
          {{#each obrassociales as |obrasocial|}}
            <div class="item" data-id="{{obrasocial}}">
              {{obrasocial}}
            </div>
          {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
    <div class="form-group">
      <label for="codafiliado" class="col-sm-2 control-label">Número de Afiliado</label>
      <div class="col-sm-4 ui input">
        <input type="text" class="form-control" id="codafiliado">
      </div>
    </div>
    <div class="form-group">
      <label for="nacimiento" class="col-sm-2 control-label">Nacimiento</label>
      <div class="col-sm-4 ui input">
        {{input-mask mask="99/99/9999" value=nacimiento id="nacimiento" focus-out="updateAge"}}
      </div>
    </div>
    <div class="form-group">
      <label for="edad" class="col-sm-2 control-label">Edad</label>
      <div class="col-sm-4 ui input">
        {{input type="text" value=edad id="edad" readonly="true" disabled="true"}}
      </div>
    </div>
    <div class="form-group">
      <label for="barrio" class="col-sm-2 control-label">Barrio</label>
      <div class="col-sm-4 ui input">
        <input type="text" class="form-control" id="barrio" placeholder="Barrio">
      </div>
    </div>
    <div class="form-group">
      <label for="localidad" class="col-sm-2 control-label">Localidad</label>
      <div class="col-sm-4">
        {{#ui-dropdown class="search selection fluid" }}
          <div class="default text">Elija una Localidad</div>
          <i class="dropdown icon"></i>
          <div class="menu">
          {{#each localidades as |localidad|}}
            <div class="item" data-id="{{localidad}}">
              {{localidad}}
            </div>
          {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
    <div class="form-group">
      <label for="telefono" class="col-sm-2 control-label">Telefono</label>
      <div class="col-sm-4 ui input">
        <input type="text" class="form-control" id="telefono" placeholder="Telefono">
      </div>
    </div>
    <div class="form-group">
      <label for="celular" class="col-sm-2 control-label">Celular</label>
      <div class="col-sm-4 ui input">
        <input type="text" class="form-control" id="celular" placeholder="Celular">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4 ui input">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="observaciones" class="col-sm-2 control-label">Observaciones</label>
      <div class="col-sm-4 ui input">
        {{bs-textarea}}
      </div>
    </div>
    <button type="submit" class="btn btn-default">Guardar</button>
  </form>
</div>