<div class="ui fixed inverted menu">
  <div class="ui container">
    <a class="item">
      {{#link-to 'index'}}Turnos{{/link-to}}
    </a>
    <a class="item">
      {{#link-to 'pacientes'}}Pacientes{{/link-to}}
    </a>
    <a class="active item">
      {{#link-to 'provincia'}}Provincias{{/link-to}}
    </a>
  </div>
</div>
<br />
<br />
<div class="container">
  <table class="ui basic table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Provincia</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |provincia|}}
        <tr><td>{{provincia.id}}</td><td>{{provincia.nombre}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</div>